<%- include('../common/header') %>

<main>
    <div class="t1">
        <div class="card">
            <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444712/thembail%20for%20tourisum%20website/p8plruvznucb5gmeqycb.jpg" alt="Destination 1">
        <h3><a href="/tours/saputara" style="text-decoration: none;">Saputara</a></h3>
        <p>Saputara hill station is situated in the district of Dang. </p>
        </div>

        <div class="card">
            <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444711/thembail%20for%20tourisum%20website/jkatx2pqsnyg9m0i1vxo.jpg" alt="Destination 1">
            <h3><a href="/tours/mountabu" style="text-decoration: none;"> Mount Abu</a>  </h3>
            <p>Mount Abu is a popular hill station in the Aravalli Range in Sirohi district of Rajasthan state.</p>
          </div>

          <div class="card">
            <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444711/thembail%20for%20tourisum%20website/oisnatsfcvog3lq7nim8.jpg" alt="Destination 1">
            <h3><a href="/tours/matheran" style="text-decoration: none;">Marvellous Matheran</a></h3>
            <p>Matheran is situated near Mumbai in Maharashtra and is known for its misty mountains, toy trains and typical sahyadri weather.</p>
          </div>
    </div>

    <div class="t1">
        <div class="card">
            <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444712/thembail%20for%20tourisum%20website/bsmmx666n7czs8hjvpc8.jpg" alt="Destination 1">
            <h3><a href="/tours/manali" style="text-decoration: none;">Manali</a></h3>
            <p>Situated at an elevation of around 14000 feet above sea level.</p>
          </div>

          <div class="card">
            <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444711/thembail%20for%20tourisum%20website/h6ye3kqeobyfyd3qxrhe.jpg" alt="Tour 1">
            <h3><a href="/tours/hamtaPass" style="text-decoration: none;">Hampta Pass Trek</a></h3>
            <p>Known for its pristine waters that shift in color with the sun's movement, the lake is a captivating sight.  </p>
          </div>

          <div class="card">
            <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444711/thembail%20for%20tourisum%20website/b4kf37ibar4a6laxgts9.jpg" alt="Destination 1">
            <h3><a href="/tours/har-ki-dun" style="text-decoration: none;">Har Ki Dun Trek</a></h3>
            <p>Discover the Hidden Beauty of the Western Himalayas.</p>
          </div>
    </div>

    <div class="t1">
      <div class="card">
          <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444711/thembail%20for%20tourisum%20website/mvnze0srge4ln2ukgifz.jpg" alt="Destination 1">
          <h3><a href="/tours/leh-Ladhakh" style="text-decoration: none;">The Leh Ladakh Road Trip</a></h3>
          <p>The Ladakh capital city of Leh lies near the eastern parts of Jammu and Kashmir, on the crossroads of the historic 'Silk Route' from Sinkiang to West Asia and to the plains of India.</p>
        </div>

        <div class="card">
          <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444711/thembail%20for%20tourisum%20website/uktvdtubx0cjihovjbxn.jpg" alt="Tour 1">
          <h3><a href="/tours/delhousie" style="text-decoration: none;">Dalhousie & Dharamshala </a></h3>
          <p>Explore the green hills of Dalhousie and the peaceful Dharamshala while enjoying fun activities. Hike through scenic hills, camp under the stars, and soak in the calm atmosphere of the Himalayas.  </p>
        </div>

        <div class="card">
          <img src="https://res.cloudinary.com/dgnsd54et/image/upload/v1729444710/thembail%20for%20tourisum%20website/rku3z9ohpljunoaule0d.jpg" alt="Destination 1">
          <h3><a href="/tours/vally-of-flower" style="text-decoration: none;">Valley of Flowers Trek</a></h3>
          <p>Valley of Flowers is a natural park, situated in between the Himalayas and located in Chamoli District of Uttarakhand. It is one of the most scenic treks in Uttarakhand, people from all over the world come to visit this natural beauty. </p>
        </div>
  </div>
  </main>
  
<%- include('../common/footer') %>