<footer>
    <div class="quick-links">
      <a href="#about">About Us</a>
      <a href="#contact">Contact</a>
      <a href="#privacy">Privacy Policy</a>
    </div>
    <div class="contact-info">
      <p>Address: 123 Street, City, Country</p>
      <p>Phone: +123 456 7890</p>
      <p>Email: info@tourismwebsite.com</p>
    </div>
    <div class="social-media">
      <a href="#"><img src="ff-removebg-preview.png
        " alt="Facebook"></a>
      <a href="#"><img src="download.png" alt="Twitter"></a>
      <a href="#"><img src="images.jpg" alt="Instagram"></a>
    </div>
  </footer>

  <!-- Include your CSS file -->
</body>
</html>