<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourism Website</title>  
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
  <!-- Header -->
  <header>
    <div class="logo">Your Logo</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#destinations">Destinations</a></li>
        <li><a href="/tours">Tours</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/review">Review</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="search-bar">
      <input type="text" placeholder="Search...">
    </div>
    <!-- <% if (auth) { %> -->
      <!-- <div class="language-selector"><a href="/logout">Logout</a></div> -->
     <!-- <% } else { %> -->
      <div class="language-selector"><a href="/login">Login</a></div>
    <!-- <% } %> --> 
    
    
  </header>